.app{
  width: 1440px;
  min-width: 1440px;
  margin: 0;
}

.background-video{
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

/* header css */
.page-header{
  opacity: 100%;
  position: fixed;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  top: 0;
  grid-template-rows: 1fr;
  grid-template-columns: 100%;
  background-color: rgba(45, 45, 45, 0.68);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  background-image: url(https://static.parastorage.com/services/skins/2.1229.80/images/wysiwyg/core/themes/base/ironpatern.png);
  background-position: fixed;
  z-index: 1;
}

.header-name-container{
  position: relative;
  margin: 25px 0px 25px 210px;
  left: 22px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
  width: 174px;
  pointer-events: none;
}

.website-name-header{
  font-size: 22px;
  line-height: 0.8em;
  margin: 0;
  line-height: normal;
  letter-spacing: normal;
}

.website-name{
  cursor: pointer;
  text-decoration: none;
  font-size: 22px;
  color: #FFFFFF !important;
  font-family: roboto-thin,roboto,sans-serif;
}

.menu-container{
  width: 515px;
  height: 50px;
  overflow-x: visible;
  position: relative;
  margin: 8px 0px 9px calc((100% - 980px) * 0.5);
  left: 457px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
  /* width: calc(100% - 980px); */
  height: calc(100% - 0px);
  white-space: nowrap;
  display: inline-block;
  overflow: visible;
  position: absolute;
  text-align: center;
}

.header-buttons{
  width: 138px;
  height: 50px;
  position: relative;
  box-sizing: border-box;
  overflow: visible;
  display: inline-block;
  padding: 5px 10px;
  text-align: center;
  line-height: 50px;
  color: #939DAB;
  font-family: avenir-lt-w01_35-light1475496,sans-serif;
  font-weight: lighter;
  text-decoration: none;
  font-size: 17px;
}

.header-buttons:hover{
  color: #e0e0e0;
}

/* presentation container css */
.presentation-container{
  position: relative;
  margin: 300px 0px 0 230px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
  word-wrap: break-word;
  text-align: start;
}

.my-name{
  font-family: raleway,sans-serif;
  color: #FFFFFF;
  font-size: 50px;
  font-weight: lighter;
  width: 700px;
  margin: 200px 0px 10px;
  left: 22px;
  text-shadow: #00000066 0px 4px 5px;
  letter-spacing: 0.05em;
}

.my-position{
  font-family: raleway,sans-serif;
  color: #FFFFFF;
  font-size: 29px;
  line-height: 1.4em;
  width: 400px;
  font-weight: lighter;
  min-height: 77px;
  position: relative;
  margin: 0px 0px 10px;
  grid-area: 4 / 1 / 5 / 2;
  justify-self: start;
  align-self: start;
  word-wrap: break-word;
  text-align: start;
  text-shadow: rgba(0, 0, 0, 0.4) 0px 4px 5px;
  letter-spacing: 0.05em;
}

/* Project card css */
.project-container{
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: 853px;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 100%;
  background-color: #64ffda;
  margin-top: 378px;
  min-width: 100%;
  opacity: 95%;
  clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0% 95.14%);
}

.projects-header{
  width: 267px;
  position: relative;
  margin: 36px 0px 6px 100px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
  word-wrap: break-word;
  text-align: start;
  font: normal normal normal 65px/1.4em lulo-clean-w01-one-bold,sans-serif;
  color: #0a192f;
  font-family: raleway-semibold,raleway,sans-serif;
  font-size: 56px;
  letter-spacing: 0.1em;
  font-weight: normal;
  font-style: normal;
  padding-bottom: 10px;
  left: 2px;
}

.projects-header:after {
  content: '';

  width: 100%;
  position: absolute;
  left: 0;
  bottom: 1px;

  border-width: 0 25px 3px;
  border-style: solid;
  border-color: #e7eaf5;
}

.project-group-cards{
  padding-top: 70px;
  display: flex !important;
  align-items: center !important;
  position: relative;
}

.project-info-container{
  margin-left: 45px;
  width: 100%;
  align-self: start;
  align-content: start;
}

.project-image{
  width: 384px !important;
  height: 269px !important;
  object-position: 50% 50%;
  object-fit: cover;
}

.project-info{
  position: absolute;
  background: rgb(9, 19, 48);
  background: rgba(9, 19, 48, 0.9);
  color: #f1f1f1;
  transition: .5s ease;
  opacity: 0;
  color: white;
  font-size: 20px;
  width: 384px;
  height: 269px;
  text-align: center;
  top: 70px;
  bottom: 0;
}

.project-card:hover .project-info{
  opacity: 1 !important;
  text-align: center;
}

.project-name{
  /* padding-top: 50px; */
  font-family: raleway-semibold,raleway,sans-serif;
  font-size: 37px;
  letter-spacing: 1px;
  line-height: 1.3;
  font-weight: 500;
  font-style: normal;
}

.project-name:after{
  content: '';

  width: 50%;
  position: absolute;
  left: 100px;
  bottom: 150px;

  border-width: 0 0px 1px;
  border-style: solid;
  border-color: #f1f1f1;
}

.project-description{
  font-family: raleway-semibold,raleway,sans-serif;
  font-size: 17px;
  letter-spacing: 0.3px;
  line-height: 1.3;
  font-weight: 0;
  font-style: normal;
  margin: 0px 30px 0px 30px;
}

.technologies-used-p{
  color: #1b1c1c;
  text-align: center;
  font-family: raleway-semibold,raleway,sans-serif;
  font-size: 17px;
  width: 370px;
  height: 80px;
}

.project-links-container{
  margin-left: 60px;
}

.github-link-btn{
  border-radius: 5px;
  border-width: 1px;
  border-color: #e6e6e6;
  background-color: #ffffff;
  margin-right: 30px;
  padding: 10px;
}

.github-demo-btn-text{
  text-decoration: none !important;
  font-family: raleway-semibold,raleway,sans-serif;
  font-size: 20px;
  color: #1C1B1B !important;
}

.github-logo{
  width: 20px;
  margin-right: 4px;
  margin-bottom: -3px;
}

.demo-link-btn{
  border-radius: 5px;
  border-width: 1px;
  border-color: #e6e6e6;
  background-color: #ffffff;
  margin-left: 30px;
  padding: 10px 15px;
}

/* loading spinner  */
.loader {
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #000000;
  margin: auto;
  margin-top: 200px;
  width: 80px;
  height: 80px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Experience container css */
.experience-container{
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: 853px;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 100%;
  background-color: #0a192f;
  opacity: 99%;
  min-width: 100%;
  clip-path: polygon(0 0%, 100% 4.85%, 100% 93%, 0% 100%);
  margin-top: -50px;
  padding-bottom: 200px;
}

.experience-header{
  width: 350px;
  position: relative;
  margin: 50px 0px 6px 100px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
  word-wrap: break-word;
  text-align: start;
  font: normal normal normal 65px/1.4em lulo-clean-w01-one-bold,sans-serif;
  color: #ccd6f6;
  font-family: raleway-semibold,raleway,sans-serif;
  font-size: 56px;
  letter-spacing: 0.1em;
  font-weight: normal;
  font-style: normal;
  padding-bottom: 10px;
  left: 2px;
}

.experience-header:after {
  content: '';

  width: 100%;
  position: absolute;
  left: 0;
  bottom: 1px;

  border-width: 0 25px 3px;
  border-style: solid;
  border-color: #64ffda;
}

.experience-list{
  display: flex;
  align-items: center;
  margin: auto;
}

.flatiron-experience-container{
  border: 2px solid #64ffda;
  border-radius: 150px;
  /* transform: rotate(20deg); */
  width: 250px;
  height: 250px;
  margin: 25px;
  text-align: center;
  font-size: 18px;
  font-family: raleway-semibold,raleway,sans-serif;
  letter-spacing: 0.1em;
  font-weight: normal;
  font-style: normal;
  color: #ccd6f6;
  padding: 16px;
  padding-top: 30px;
  animation-name: experienceFadeIn;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes experienceFadeIn{
  from {margin-left: 800px; opacity: 0;}
  to {margin-left: 25px; opacity: 100%;}
}

.flatiron-logo{
  width: 120px;
}

.wfm-logo{
  width: 100px;
}

.aupair-logo{
  width: 100px;
  height: 70px;
  border-radius: 5px;
}

/* ABOUT CSS */
.about-me-container{
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: 853px;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 100%;
  background-color: #ffffff;
  opacity: 95%;
  min-width: 100%;
  clip-path: polygon(0 4.5%, 100% 0%, 100% 100%, 0% 100%);
  margin-top: -70px;
}

.about-header{
  width: 350px;
  position: relative;
  margin: auto;
  margin-top: 100px;
  grid-area: 1 / 1 / 2 / 2;
  word-wrap: break-word;
  text-align: center;
  font: normal normal normal 65px/1.4em lulo-clean-w01-one-bold,sans-serif;
  color: #0a192f;
  font-family: raleway-semibold,raleway,sans-serif;
  font-size: 44px;
  letter-spacing: 0.5px;
  font-style: normal;
  padding-bottom: 10px;
}

.about-header:after {
  content: '';

  width: 10%;
  position: absolute;
  left: 160px;
  bottom: 1px;

  border-width: 0 2px 3px;
  border-style: solid;
  border-color: #64ffda;
}

.about-box{
  display: flex;
  align-items: center;
  margin: auto;
  width: 950px;
  margin-top: 100px;
}

.position-profile-box{
  margin-top: -370px;
}

.profile-picture{
  width: 216px;
  height: 217px;
  object-fit: initial;
  border-radius: 150px;
}

.name{
  font-family: raleway-semibold,raleway,sans-serif;
  font-weight: lighter;
  font-size: 20px;
  line-height: 0.8em;
  text-align: center;
}

.profession{
  font-family: avenir-lt-w01_35-light1475496,sans-serif;
  font-weight: lighter;
  font-size: 15px;
  line-height: 1.3em;
  letter-spacing: 0.03em;
  text-align: center;
}

.profession-separator{
  width: 190px;
  border: 0.5px solid #000000;
  margin: auto;
}

.websites-container{
  display: flex;
  align-self: center;
  margin-left: 35px;
  margin-bottom: 40px;
}

.github-profile{
  object-position: 50% 50%;
  width: 42px;
  height: 42px;
  object-fit: cover;
  margin-top: 10px;
  margin-left: 40px;
}

.linkedin-profile{
  object-position: 50% 50%;
  width: 61px;
  height: 61px;
  object-fit: cover;
}

.resume-download{
  background-color: #2d2d2d;
  color: #ffffff;
  border-radius: 5px;
  border: solid #2d2d2d 0px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  font-size: 14px;
  font-family: raleway-semibold,raleway,sans-serif;
  font-weight: lighter;
  padding: 12px 20px;
  text-decoration: none;
  margin-left: 35px;
}

.resume-download:hover{
  opacity: 90%;
}

.bio{
  text-align: center;
  margin-left: 80px;
  margin-bottom: 60px;
  font-family: raleway-semibold,raleway,sans-serif;
  font-weight: lighter;
  font-size: 15px;
  letter-spacing: 0.03em;
  line-height: 1.9em;
}

.footer-container{
  height: 65px;
  position: static;
  display: grid;
  width: 100%;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 100%;
  opacity: 95%;
  min-width: 100%;
}

.footer-text{
  font-size: 15px;
  font-family: raleway-semibold,raleway,sans-serif;
  font-weight: lighter;
  color: #BEC7D5;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

.email-link{
  text-decoration: underline dotted ;
  color: #BEC7D5;
}

.email-link:hover{
  color: #f1f1f1;
  text-decoration: none;
}