body {
  margin: 0;
  background-image: url('./images/portfolio-background-img.jpeg');
  background-repeat: no-repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
