body {
  margin: 0;
  background-image: url('./images/background.jpeg');
  background-repeat: no-repeat;
  background-size: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
