body {
  margin: 0;
  background-image: url('./images/background.jpeg');
  background-repeat: no-repeat;
  background-size: 100vw;
  margin-left:auto;
  margin-right:auto;
  width: 100%;
  min-width: 980px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
